<section class="container criar-ideias">
  <header class="header d-flex">
    <h2>Adicione uma nova ideia</h2>
  </header>
  <form action="">
      <label for="ideia">Ideia</label>
      <input type="textarea" class="input" id="ideia" placeholder="Digite a ideia">

      <label for="descricao">Descricao</label>
      <input type="textarea" class="input" id="descricao" placeholder="Digite a descrição da ideia">

  <div class="acoes">
    <button class="botao" (click)="criarPensamento()">Criar ideia</button>
    <button class="botao" (click)="cancelar()">cancelar</button>
  </div>
  </form>
</section>
