<section class="container">
  <header class="header d-flex">
    <h2 class="titulo">Minhas ideias</h2>
    <button class="botao" routerLink="/criarIdeia" type="submit">Nova ideia</button>
  </header>
  <div class="mural" *ngIf="listaIdeias.length > 0, else semIdeias">
    <div *ngFor="let ideia of listaIdeias">
      <app-ideia
      [ideia]="ideia"
      ></app-ideia>
    </div>
  </div>
  <ng-template #semIdeias>
    <div class="sem-ideias">
      <p>Ainda não há ideias cadastradas!
    </div>
  </ng-template>
</section>
